            <footer>
                <div class='container'>
                    <div class="row">
                        <div class="col-xs-6">
                                <h4>Ondřej Hliba</h4>
                                
                        </div>
                        <div class="col-xs-6">
                            <h4 class='text-right'>&copy; <%= new Date().getFullYear() %> Kdogtrekking</h4>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </body>
</html>