<!DOCTYPE html>
<html>
    <head>  
        <title>KDogtrekking</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
        <link rel="stylesheet" href="/lib/bootstrap/bootstrap.min.css">
        <link rel="stylesheet" href="/stylesheets/landing.css">
        <link href="https://fonts.googleapis.com/css?family=Roboto+Mono:400,700" rel="stylesheet">
        <script src="/lib/jQuery/jquery-3.3.1.min.js"></script>
        <script src="/lib/bootstrap/bootstrap.min.js"></script>
    </head>
    <body>
        <nav id="nav" class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>

            <a class="navbar-brand" href="/">KDogtrekking</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="/novinky">Novinky</a></li>
                <li><a href="/propozice">Propozice</a></li>
                <li><a href="/prihlaska">Přihláška</a></li>
                <li><a href="/zavody">Ročníky</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <% if(currentUser) { %>
                    <li><a href='/admin/logout'>Logout</a></li>
                <% } %>
                <li><a href="/fotoalbum">Fotoalbum</a></li>
                <li><a href="/kontakt">Kontakt</a></li>
            </ul>
        </div>
    </div>
</nav>
</body>
</html>
        
    