<% include ./partials/header.ejs %>

    <div class='container-full'>
        <div class='fotoalbum'>
            <div id="myCarousel" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                  <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                  <li data-target="#myCarousel" data-slide-to="1"></li>
                  <li data-target="#myCarousel" data-slide-to="2"></li>
                </ol>
              
                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                  <div class="item active">
                    <img src="http://img29.rajce.idnes.cz/d2902/14/14901/14901213_d075baeab2d42b1f2296b3d988b5a546/images/ANR_4412.jpg?ver=0" alt="">
                  </div>
              
                  <div class="item">
                    <img src="http://img29.rajce.idnes.cz/d2902/14/14901/14901213_d075baeab2d42b1f2296b3d988b5a546/images/ANR_4380.jpg?ver=0" alt="">
                  </div>
              
                  <div class="item">
                    <img src="http://img29.rajce.idnes.cz/d2902/14/14901/14901213_d075baeab2d42b1f2296b3d988b5a546/images/ANR_4417.jpg?ver=0" alt="">
                  </div>
                </div>
              
                <!-- Left and right controls -->
                <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                  <i class="fas fa-chevron-left"></i>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#myCarousel" data-slide="next">
                  <i class="fas fa-chevron-right"></i>
                  <span class="sr-only">Next</span>
                </a>
              </div>
        </div>
        <div id='fototext'>
            <div class='text-center'>
                <p>Líbí se vám naše fotky? Více jich máme na Rajčeti!</p>
                <a href='http://krusnohorskydogtrekking.rajce.idnes.cz/' class='btn btn-default btn-lg' target='_blank'>Fotoalbum</a>
            </div>
        </div>
    </div>
        

</body>

</html>