<% include ./partials/header.ejs %>

<div class='container-fluid'>
    <div class='row'>
        <div id='contact'>
            <div class='kontaktWrap'>
                <div class='item'>
                        <h4>Pojďme si popovídat <i class="fas fa-mobile"></i></h4>
                        <p>+420 789456123</p>
                </div>
                <div class='item'>
                    <h4>Napište nám! <i class="fas fa-envelope"></i></h4>
                    <p>petr.pokusny@seznam.cz</p>
                </div>
            </div>               
        </div>
</div>
</body>
</html>